
@media (min-height: 667px) {
    .form-container {
        margin-top: 25%;
    }
}

@media (max-height: 500px) {
    .form-container {
        margin-top: 12%;
    }
}

.form {
    width: 80%;
    margin: auto;
    margin-top: 15%;
}
